<html lang="fr">
    <head>
      <style> #title {text-align:center} </style>
      <meta charset="utf-8"/>
        <title>Rapport de transaction</title>
    </head>
    <body>
      <h3 id="title" style="text-align: center">Rapport de transaction</h3>
      <p>Cher client, vous avez reçu de la part de ${nom} (${num}) ${montant} ${alt_unite}${complement}.</p>
      <h4>Résumé de la transaction : </h4>
      <p>Date: ${date}</p>
      <p>Montant: ${montant} ${alt_unite}</p>
      <p>Raison: ${raison}</p>
      <p>Votre nouveau solde : ${solde} ${unite}</p>
    </body>
</html>